.monitor-filter-form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .form-field {
        //width: 40%;
    }

    .state-checkbox-container {
        display: flex;
        flex-basis: 40%;

        & > mat-checkbox {
            margin-right: 100px;
        }
    }
}
