:host {
    display: block;
    padding-inline: 20px;
    margin-top: 20px;


    .trainees-filter-form {
        display: flex;

        .form-title {
            font-size: 24px;
            font-weight: 400;
            margin-right: 20px;
            color: darkgray;

            display: flex;
            align-items: start;
            padding-top: 20px;
        }

        .button-container {
            display: flex;

            padding-inline: 20px;

            .search-button {

                height: 53px;
                width: 150px;
                //margin-top: 10px;

            }
        }




    }

}

